body {
  height: 100vh;
}

.container {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 5fr;
  background-color: #f9f9f9;
}

main {
  display: grid;
  grid-template-rows: auto auto 1fr;
  background-color: #fff;
  margin: 1rem;
  border-radius: 8px;
  border: 1px solid #e7e7e7;
}

.sidebar {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  padding: 1.5rem;
}

.sidebar .menu-group {
  display: flex;
  flex-direction: column;
  gap: .75rem;
}

.sidebar .menu-group:last-child {
  margin-top: auto;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem;
  border-bottom: 1px solid #e7e7e7;
}

ul {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

li {
  list-style: none;
}

img {
  height: 3rem;
  width: 3rem;
}

.user-profile {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.button-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 1.5rem;
}

button {
  font-size: 0.875rem;
  padding: 8px 16px;
  border-radius: 2rem;
}